header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    min-height: 55px;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}